{% extends 'base.html' %}
{% block content %}
{% if list_notes %}
    {% for note in list_notes %}
        <div class="col col-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h3>{{note.note_name}}</h3>
                    <small>created on: <br>{{note.note_date_created}}</small>
                    <p class="lead">{{note.note_desc}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

<div class="row justify-content-sm-center">
    <div class="col col-sm-2 mt-3 mb-3">
        <a href="{% url 'note:notes' %}" class="btn btn-sm btn-outline-warning">Go Back</a>
    </div>
</div>

{% endblock %}